
body {
    background-color: #1d1d1d; 
    color: #ffffff; 
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
  }
  
 
  a {
    color: #ffcc00; 
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  
 
  .header {
    background-color: #552582; 
    padding: 20px;
    text-align: center;
    color: #ffffff;
  }
  
  .header h1 {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  

  .section {
    padding: 20px;
    margin: 20px;
    background-color: #2e2e2e; 
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
   
  }
  

  .main-image {
    width: 100%;
    max-width: 600px;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  }
  
  
  h2 {
    color: #ffcc00; 
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  
  
  .footer {
    text-align: center;
    padding: 20px;
    background-color: #552582; 
    color: #ffffff;
    font-size: 1.2rem;
  }
  

  .footer a {
    color: #ffcc00;
    font-weight: bold;
  }
  
  .footer a:hover {
    text-decoration: none;
  }
  
  
  .tableauPlaceholder {
    margin-top: 30px;
    border: 3px solid #ffcc00; 
    border-radius: 10px;
    padding: 20px;
    background-color: #2e2e2e; 
  }
  
 
  body {
    padding: 20px;
  }
  
  .video-container {
    display: flex;
    justify-content: center;
    margin: 40px 0;
  }
  #tableau {
    margin-top: 60px;
  }
  
  #tableau h2 {
    text-align: center;
    color: #ffcc00;
  }

  .crown {
    position: fixed;
    bottom: 0; /* Fixes the crown at the bottom of the page */
    left: 50%; /* Centers it horizontally */
    transform: translateX(-50%); /* Ensures it is perfectly centered */
    font-size: 2em; /* Adjusts the size of the crown */
    color: gold; /* Sets the color of the text */
    text-align: center; /* Centers the text */
    padding: 10px 0; /* Adds some spacing */
    text-shadow: 2px 2px 5px #000; /* Adds shadow to make it pop */
    background-color: rgba(0, 0, 0, 0.5); /* Optional: Adds a transparent dark background for better contrast */
    width: 100%; /* Makes sure the crown spans the entire width of the page */
    box-sizing: border-box; /* Ensures padding is included in the width */
  }
  
  @keyframes crownGlow {
    0% { text-shadow: 0 0 5px #ffd700, 0 0 10px #ffcc00; }
    100% { text-shadow: 0 0 15px #fff700, 0 0 25px #ffaa00; }
  }
  

  
